/* ========================================================== */
/*                                                            */
/* file		: service                                  	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* service s ================================================ */
.con_service #contents { padding-top: 200px; }
<<<<<<< HEAD

@media (max-width: 736px) { .con_service #contents { padding-top: 0; padding-right: 15px; padding-left: 15px; } }

.sub_bg_wrap { max-width: 1920px; margin-bottom: 95px; margin-right: auto; margin-left: auto; }

@media (max-width: 736px) { .sub_bg_wrap { margin-bottom: 40px; margin-right: -15px; margin-left: -15px; } }

.commerce_box .txt_wrap { width: 100%; }

=======
@media (max-width: 1260px) { .con_service #contents .inner { padding-right: 15px; padding-left: 15px; } }
@media (max-width: 736px) { .con_service #contents { padding-top: 0; } }

.sub_bg_wrap { max-width: 1920px; margin-bottom: 95px; margin-right: auto; margin-left: auto; }
@media (max-width: 736px) { .sub_bg_wrap { margin-bottom: 40px; margin-right: -15px; margin-left: -15px; } }

.commerce_box .txt_wrap { width: 100%; }
>>>>>>> abf04c6f46d446d8637a96a116184d1cfa0515b7
.commerce_box .txt_wrap .tw_2 { padding-bottom: 0; line-height: 30px; }

/* service e ================================================ */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: contact                                  	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* contact s ================================================ */
.con_contact #contents { padding-top: 200px; }
<<<<<<< HEAD

@media (max-width: 736px) { .con_contact #contents { padding-top: 40px; padding-right: 15px; padding-left: 15px; } }

.intro_box { position: relative; display: inline-block; width: 100%; height: 100%; }

.intro_box .left_bx { float: left; display: flex; flex-direction: column; justify-content: space-between; width: 50%; height: 848px; }

.intro_box .right_bx { float: right; width: 50%; }

@media (max-width: 736px) { .intro_box .left_bx, .intro_box .right_bx { width: 100%; height: unset; } }

.numbers_wrap li { line-height: 44px; }

.numbers_wrap .nmb_num { font-family: "Loves", sans-serif; font-size: 9.6em; }

.numbers_wrap .nmb_txt { margin-left: -10px; font-weight: 300; font-size: 1.7em; letter-spacing: -1.28px; color: #aaa; vertical-align: text-bottom; }

=======
@media (max-width: 736px) { .con_contact #contents { padding-top: 40px; padding-right: 15px; padding-left: 15px; } }

.intro_box { position: relative; display: inline-block; width: 100%; height: 100%; }
.intro_box .left_bx { float: left; display: flex; flex-direction: column; justify-content: space-between; width: 50%; height: 848px; }
.intro_box .right_bx { float: right; width: 50%; }
@media (max-width: 736px) { .intro_box .left_bx, .intro_box .right_bx { width: 100%; height: unset; } }

.numbers_wrap li { line-height: 44px; }
.numbers_wrap .nmb_num { font-family: "Loves", sans-serif; font-size: 9.6em; }
.numbers_wrap .nmb_txt { margin-left: -10px; font-weight: 300; font-size: 1.7em; letter-spacing: -1.28px; color: #aaa; vertical-align: text-bottom; }
>>>>>>> abf04c6f46d446d8637a96a116184d1cfa0515b7
@media (max-width: 736px) { .numbers_wrap .nmb_num { font-size: 5.4em; }
  .numbers_wrap .nmb_txt { margin-left: 0; vertical-align: super; } }

.contact_history #contents { padding-top: 160px; padding-bottom: 140px !important; background: url(../images/contact/cntc_img_03.png); background-repeat: repeat-y; background-size: 286px; background-position: 50% 0; }
<<<<<<< HEAD

@media (max-width: 736px) { .contact_history #contents { padding-top: 0px; background: none; } }

.history_box .txt_wrap { max-width: 450px; }

.history_box li { margin-top: -10px; }

.history_box .side_l .hist_item { padding-right: 64%; text-align: right; }

.history_box .side_r .hist_item { padding-left: 64%; }

.history_box .hist_item .year { display: inline-block; margin-bottom: 10px; font-family: "Loves", sans-serif; font-size: 5.2em; }

.history_box .hist_item .desc_line { font-weight: 300; font-size: 1.5em; line-height: 24px; letter-spacing: -1.13px; }

.history_box .hist_item .desc_line b { font-weight: 700; }

=======
@media (max-width: 736px) { .contact_history #contents { padding-top: 0px; background: none; } }

.history_box .txt_wrap { max-width: 450px; }
.history_box li { margin-top: -10px; }
.history_box .side_l .hist_item { padding-right: 64%; text-align: right; }
.history_box .side_r .hist_item { padding-left: 64%; }
.history_box .hist_item .year { display: inline-block; margin-bottom: 10px; font-family: "Loves", sans-serif; font-size: 5.2em; }
.history_box .hist_item .desc_line { font-weight: 300; font-size: 1.5em; line-height: 24px; letter-spacing: -1.13px; }
.history_box .hist_item .desc_line b { font-weight: 700; }
>>>>>>> abf04c6f46d446d8637a96a116184d1cfa0515b7
@media (max-width: 736px) { .history_box li { margin-top: 40px; }
  .history_box li.side_l .hist_item, .history_box li.side_r .hist_item { padding-right: 0; padding-left: 0; text-align: left; } }

.recruit_box .line_bx_wrap { margin-top: 120px; }
<<<<<<< HEAD

.recruit_box .line_bx_wrap:first-child { margin-top: 0; }

.recruit_box .line_bx_wrap .line_bx .txt_desc { padding-left: 64px; padding-right: 64px; }

@media (max-width: 736px) { .recruit_box .line_bx_wrap .line_bx .txt_desc { padding-right: 15px; padding-left: 15px; } }

.recruit_box .line_bx_02 .rect_ul { margin-top: 40px; }

@media (max-width: 736px) { .recruit_box .line_bx_02 .rect_ul { flex-wrap: wrap; }
  .recruit_box .line_bx_02 .rect_ul li { margin-top: 40px; width: 100%; padding: 0 10px; } }

.recruit_box .line_bx_03 .rect_ul { margin-top: 60px; }

@media (max-width: 736px) { .recruit_box .line_bx_03 .rect_ul { flex-wrap: wrap; margin-top: 20px; }
  .recruit_box .line_bx_03 .rect_ul li { margin-top: 40px; width: 100%; } }

.recruit_box .line_bx_04 .ex_subject_wrap { margin-top: 45px; }

.recruit_box .line_bx_04 .ex_subject_wrap p { padding: 35px 30px; font-weight: 300; font-size: 25px; line-height: unset; letter-spacing: -1.88px; border: 1px solid #000; background: #f7f6f6; }

.recruit_box .line_bx_04 .ex_subject_wrap p small { font-size: 17px; }

.recruit_box .line_bx_04 .ex_subject_wrap p b { font-weight: 700; font-size: 15px; }

.recruit_box .line_bx_04 .number_ul { margin-top: 20px; display: flex; justify-content: space-around; }

@media (max-width: 736px) { .recruit_box .line_bx_04 .number_ul { flex-wrap: wrap; padding-right: 15px; padding-left: 15px; } }

.recruit_box .line_bx_04 .number_ul li { width: 33.33%; }

@media (max-width: 736px) { .recruit_box .line_bx_04 .number_ul li { width: 100%; } }

.recruit_box .line_bx_04 .number_ul .number_con { font-weight: 400; font-size: 1.9em; line-height: 24px; letter-spacing: -1.43px; }

=======
.recruit_box .line_bx_wrap:first-child { margin-top: 0; }
.recruit_box .line_bx_wrap .line_bx .txt_desc { padding-left: 64px; padding-right: 64px; }
@media (max-width: 736px) { .recruit_box .line_bx_wrap .line_bx .txt_desc { padding-right: 15px; padding-left: 15px; } }
.recruit_box .line_bx_02 .rect_ul { margin-top: 40px; }
@media (max-width: 736px) { .recruit_box .line_bx_02 .rect_ul { flex-wrap: wrap; }
  .recruit_box .line_bx_02 .rect_ul li { margin-top: 40px; width: 100%; padding: 0 10px; } }
.recruit_box .line_bx_03 .rect_ul { margin-top: 60px; }
@media (max-width: 736px) { .recruit_box .line_bx_03 .rect_ul { flex-wrap: wrap; margin-top: 20px; }
  .recruit_box .line_bx_03 .rect_ul li { margin-top: 40px; width: 100%; } }
.recruit_box .line_bx_04 .ex_subject_wrap { margin-top: 45px; }
.recruit_box .line_bx_04 .ex_subject_wrap p { padding: 35px 30px; font-weight: 300; font-size: 25px; line-height: unset; letter-spacing: -1.88px; border: 1px solid #000; background: #f7f6f6; }
.recruit_box .line_bx_04 .ex_subject_wrap p small { font-size: 17px; }
.recruit_box .line_bx_04 .ex_subject_wrap p b { font-weight: 700; font-size: 15px; }
.recruit_box .line_bx_04 .number_ul { margin-top: 20px; display: flex; justify-content: space-around; }
@media (max-width: 736px) { .recruit_box .line_bx_04 .number_ul { flex-wrap: wrap; padding-right: 15px; padding-left: 15px; } }
.recruit_box .line_bx_04 .number_ul li { width: 33.33%; }
@media (max-width: 736px) { .recruit_box .line_bx_04 .number_ul li { width: 100%; } }
.recruit_box .line_bx_04 .number_ul .number_con { font-weight: 400; font-size: 1.9em; line-height: 24px; letter-spacing: -1.43px; }
>>>>>>> abf04c6f46d446d8637a96a116184d1cfa0515b7
.recruit_box .line_bx_04 .number_ul .number_con span { display: block; padding-top: 20px; font-size: 15px; }

/* contact e ================================================ */
/* ---------------------------------------------------------- */

<<<<<<< HEAD
/*# sourceMappingURL=../css/work-somia.css.map */
=======
/*# sourceMappingURL=work-somia.css.map */
>>>>>>> abf04c6f46d446d8637a96a116184d1cfa0515b7
