@charset "utf-8";
/* ========================================================== */
/*                                                            */
/* file		: content                                      	  */
// writer	: Ryu
// date		: 20201215
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* content s ================================================ */
.only_pc {
  @include mdq_m {
    display:none;
  }
}
.only_m {
  display:none;
  @include mdq_m {
    display:block;
  }
}
.hidden_txt {
  @include t_idt();
}
.text_desc {
  @include fnt_set($l, 1.5em, 22px, -1.13px);
  color:$default_fc;
}
.point_clr {
  color:$point_clr;
}
.visual_table {
  .td_img {
    @include mdq_custom {
      img {
        height: 100%;
      }
    };
  }
  .td_bg_1 {
    padding:40px 30px;
    color:#fff;
    background:$point_clr;
  }
  .td_bg_2 {
    padding:40px 24px;
    background:#eee;
    @include mdq_m {
      font-size:12px !important;
    }
  }
  .t_lg {
    @include fnt_set($l, 2.5em, 30px, -1.88px);
    @include mdq_m {
      font-size:1.6em;
    }
  }
  .t_sm {
    @include fnt_set($l, 1.5em, 20px, -1.13px);
  }
}

.line_bx_wrap {
  width:100%;
  h5 {
    @include fnt_set($l, 1.5em, 44px, -1.13px);
    b {
      font-weight:$b;
      font-size:19px;
    }
  }
  .line_bx {
    padding-top:40px;
    padding-bottom:50px;
    border-top:2px solid #000;
    border-bottom:1px solid #dcdcdc;
    .txt_desc {
      @include fnt_set($l, 1.7em, 24px, -1.28px);
    }
  }
}
.tag_label_wrap {
  padding-top:10px;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  width:100%;
  .tag_label {
    margin:20px 20px 0;
    padding:15px 30px;
    display:inline-block;
    @include fnt_set($l, 2.1em, unset, -1.58px);
    border:1px solid #000;
    border-radius:35px;
  }
}
.point_label {
  display:inline-block;
  padding:4px 10px 3px;
  @include fnt_set($l,13px,20px,-0.98px);
  color:$point_clr;
  border:1px solid $point_clr;
  border-radius:15px;
}
.rect_ul {
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  &.type1 {
    li {
      width: 200px;
      @include narrow_custom {
        width: calc(( 100% / 3) - 50px );
        &:nth-child(-n+3) {
          margin-bottom: 30px; 
        }
      }
    }
    .rect_item {
      .rect {
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        height:136px;
        background: #1293c3;
        border-radius:30px;
        img {
          width:auto;
        }
      }
      p {
        padding-top:20px;
        @include fnt_set($l,2.1em,unset,-1.58px);
        span {
          padding-top:20px;
          display:block;
          @include fnt_set($l,15px,24px,-1.58px);
        }
      }
    }
  }
  &.type2 {
    li {
      width:200px;
      @include narrow_custom {
        width: calc(( 100% / 3) - 50px );
        &:nth-child(-n+3) {
          margin-bottom: 30px; 
        }
      }
    }
    .rect_item {
      .rect {
        padding:56px 15px 0 20px;
        width: 100%;
        height: 160px;
        background: #535353;
        span {
          @include fnt_set($l,2.1em,26px,-1.58px);
          color:#fff;
        }
      }
    }
  }
}
.gray_line {
  display:inline-block;
  width:97px;
  height:1px;
  background:url(#{$img_url}contact/cntc_line_bg.png) no-repeat;
}
.number_ul {
  .number_item {
    display:flex;
    align-items:center;
    .number {
      display:inline-block;
      width:80px;
      font: {
        family:$fourth_font;
        size:130px;
      }
      background:url(#{$img_url}contact/cntc_line_bg2.png) no-repeat 100% 50%;
    }
    .number_con {
      display:inline-block;
      padding-left:20px;
      width:calc(100% - 90px);
    }
  }
}
.line_sep_dl {
  dt,
  dd {
    display:inline-block;
    font-weight:$l;
    vertical-align:top;
  }
  dt {
    width:100px;
  }
  dd {
    width:calc(100% - 130px);
    margin-left:20px;
    padding-left:20px;
    border-left:1px solid #ccc;
    > ul {
      margin-top:-10px;
      > li {
        display:inline-block;
        font-weight:$l;
        margin-right:20px;
        margin-top:10px;
      }
    }
  }
  @include mdq_m {
    dt,
    dd {
      width:100%;
    }
    dd {
      margin-top:20px;
      margin-left:0;
    }
  }
}
.txt_wrap {
  .tw_1 {
    padding-bottom:30px;
    @include fnt_set($l, 2.7em, 35px, -2.03px);
  }
  .tw_2 {
    padding-bottom:30px;
    @include fnt_set($l, 1.5em, 21px, -1.13px);
  }
  @include mdq_m {
    padding-top:40px;
  }
}
.blk_item_wrap {
  margin-top:90px;
  &:first-child {
    margin-top:0;
  }
  .blk_label {
    display:inline-block;
    padding:1px 20px 0;
    @include fnt_set($b, 1.7em, unset, -1.28px);
    color:#fff;
    background:#000;
    border-radius:8px;
  }
  .blk_tit_con {
    padding-top:25px;
    .blk_tit {
      display:inline-block;
      width:420px;
      @include fnt_set($l, 3.1em, 41px, -2.33px);
      vertical-align:top;
    }
    .blk_con {
      display:inline-block;
      width:calc(100% - 430px);
      padding-left:0;
      @include fnt_set($l, 1.9em, 27px, -2.33px);
      vertical-align:top;
      .dot_ul {
        padding-top:25px;
        > li {
          @include fnt_set($l,15px,20px,-1.13px);
          &:before {
            top:6px;
            width:4px;
            height:4px;
          }
        }
      }
      .point_label {
        margin-top:5px;
      }
    }
    @include mdq_m {
      .blk_tit,
      .blk_con {
        width:100%;
      }
      .blk_con {
        padding-top:20px;
      }
    }
  }
}
/* content e ================================================ */
/* ---------------------------------------------------------- */