@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: main                                   	      */
// writer	: Ryu
// date		: 20201215
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* main s =================================================== */
.con_main {

}
.sec_tit {
  margin-bottom:28px;
  font: {
    weight:$b;
    size:3.4em;
  }
  line-height:20px;
  letter-spacing:-1.05px;
  text-align:center;
  color:#535353;
  
}
.biz_box {
  position:relative;
  margin-bottom:116px;
  @include narrow_custom {
    margin-bottom: 15%;
  }
  @include mdq_m {
    margin: inherit;
  }
  .sec_tit {
    @include narrow_custom {
      display: none;
    }
    @include posa_tl(190px,30px);
    @include mdq_m {
      top:20px;
      left:24px;
    }
  }
  .biz_item {
    //padding-top:470px;
    padding-top: 40%;
    text-align:right;
    .visual_img {
      @include posa_tr();
      display:inline-block;
      width:auto;
      @include narrow_custom {
        width: 100%;
      }
    }
    .sub_tit {
      @include fnt_set($l, 4.1em, 54px);
      margin-bottom:65px;
    }
    .desc_box {
      margin-bottom: 65px;
      p {
        display:inline-block;
        max-width:500px;
        margin-left: 56px;
        text-align:left;
      }
    }
    @include mdq_m {
      position:relative;
      //margin-top:200px;
      //padding-top:240px;
      margin-top:170px;
      padding-top:240px;
      @include setDfPadding();
      .sub_tit {
        margin-bottom:25px;
        font-size:2.4em !important;
        line-height:27px !important;
        span {
          font-size:24px !important;
          line-height:24px !important;
        }
      }
    }
  }
  .biz_item_01 {
    .sub_tit {
      margin-bottom:30px;
      span {
        display:inline-block;
        font-weight:$l;
        font-size:37px;
        line-height:42px;
      }
    }
    .desc_box {
      p {
        text-align:right;
      }
    }
  }
  .biz_item_03 {
    .sub_tit {
      font-weight:$l;
      font-size:37px;
      letter-spacing:-2.78px;
      line-height:40px;
    }
    .desc_box {
      margin-bottom: 75px;
    }
  }
  .swiper-container {
    width: 100%;
    padding-top:80px;
    overflow: visible;
    @include narrow_custom {
      padding-top: 310px;
    }
    @include mdq_m {
      padding-top: 30px;
    }
  }
  div.swiper-pagination {
    top:240px;
    bottom:unset;
    //bottom:465px;
    @include narrow_custom {
      top: 150px;
    }
    @include mdq_m {
      top:30px;
    }
  }
  span.swiper-pagination-bullet {
    position:relative;
    width:100%;
    height:46px;
    text-align:left;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background:none;
    &:before {
      @include posa_tl(50%,0);
      margin-top:-4px;
      content:'';
      width:0;
      height:8px;
      background:$point_clr;
      opacity:0.8;
      z-index:-1;
      border-radius:4px;
      transition:width 0.3s;
    }
    &:after {
      display:inline-block;
      padding-left:20px;
      height:40px;
      font-weight:$l;
      font-size:37px;
      line-height:50px;
      letter-spacing:0.67px;
      color:#000;
      transition:all 0.3s;
    }
    &:nth-child(1) {
      &:after {
        content: "e-Commerce";
      }
    }
    &:nth-child(2) {
      &:after {
        content: "AI Marketing Curator";
      }
    }
    &:nth-child(3) {
      &:after {
        content: "UI/UX Design";
      }
    }
    &.swiper-pagination-bullet-active {
      &:after {
        font-weight:$r;
        font-size:41px;
        line-height:50px;
        letter-spacing:0.67px;
        color:#000;
      }
      &:nth-child(1) {
        &:before {
          width:370px;
          @include mdq_m {
            width:230px;
          }
        }
        &:after {
          content: "01. e-Commerce";
        }
      }
      &:nth-child(2) {
        &:before {
          width:520px;
          @include mdq_m {
            width:320px;
          }
        }
        &:after {
          content: "02. AI Marketing Curator";
        }
      }
      &:nth-child(3) {
        &:before {
          width:370px;
          @include mdq_m {
            width:230px;
          }
        }
        &:after {
          content: "03. UI/UX Design";
        }
      }
    }
    @include mdq_m {
      &:after {
        font-size:18px;
      }
      &.swiper-pagination-bullet-active {
        &:after {
          font-size:24px;
        }
      }
    }
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

.portfolio_box {
  .sec_tit {
    margin-top: 80px;
  }
  ul {
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    > li {
      width:33.33%;
      @include mdq_m {
        width:50%;
      }
      a {
        .ptfl_item {
          position: relative;
          width:100%;
          height:100%;
          img {
            height:100%;
          }
          .ptfl_info {
            display:flex;
            @include posa_tl();
            padding:42px 26px;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.74);
            align-content:flex-start;
            flex-wrap:wrap;
            opacity:0;
            transition:opacity 0.6s;
            p[class*="tit"] {
              display:block;
              width:100%;
              color:#fff;
            }
            .tit_date {
              @include fnt_set($b,1.7em,37px,unset);
              margin-bottom:53px;
            }
            .tit {
              min-height:108px;
              font-weight:$r;
              font-size:3.1em;
              letter-spacing:-2.33px;
              line-height:36px;
            }
            .tit_sub {
              font-weight:$l;
            }
            .tit_desc {
              margin-top:55px;
              font-weight:$r;
              font-size:19px;
              letter-spacing:-1.43px;
              line-height:22px;
            }
            @include mdq_m {
              padding:10px 15px;
              .tit_date {
                margin-bottom:10px;
                font-size:1.2em;
              }
              .tit {
                font-size:2em;
              }
              .tit_desc {
                display:none !important;
              }
            }
          }
        }
      }
      &.on,
      &:hover {
        a {
          .ptfl_info {
            opacity:1;
          }
        }
      }
    }
  }
}
/* main e =================================================== */
/* ---------------------------------------------------------- */